.itemWrapper {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  gap: 0px;
  padding: 15px 0px 15px 10px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: var(--primary-container);
  background-color: transparent;
  position: relative;
  transition: background-color 0.25s ease 0s, border-color 0.25s ease 0s;
}

.itemWrapper:hover {
  /* background-color: var(--primary-container); */
  background-color: var(--primary-hover-container);
}

.activeItem {
  background-color: var(--primary-hover-container);
}

.itemDetailsContainer {
  flex-grow: 1;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.itemInfosContainer {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  width: calc((100% - 10px - 0px * 6) / 7);
}

.checkboxContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100px;
}

.itemImageContainer {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  padding: 0px;
  background-color: var(--primary-container);
}

.itemImage {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.itemTitle {
  font-size: var(--desktop-body-lg);
  line-height: 24px;
  font-weight: 500;
  color: var(--on-primary-container);
}

.artworkLink {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

.artworkLink:hover {
  text-decoration: underline;
}

.itemCategory,
.itemSize {
  font-size: var(--desktop-body-md);
  line-height: 20px;
  color: var(--primary);
}

.itemDetailsButtons {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}
