.gridItem {
  grid-column: span 4;
}

.innerWrapper {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  gap: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.itemImage {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: var(--primary);
}

.bigImage {
  aspect-ratio: 4 / 3.5;
}

.image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.itemText {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  gap: 0px;
}

.heading {
  font-size: var(--desktop-headline-xsm);
  line-height: 26px;
  font-weight: 500;
  padding-top: 10px;
}

.body {
  font-size: var(--desktop-body-lg);
  line-height: 24px;
  color: var(--primary-container);
}
