.container {
  display: block;
  width: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid var(--outline-variant);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
}
