.container {
  display: block;
  width: 100%;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid var(--outline-variant);
}

.imagesWrapper {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  gap: 28px;
  padding: 20px 0px;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.imageContainer {
  min-width: 200px;
  width: 200px;
  height: 200px;
  background-color: var(--outline-variant);
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
}

.deleteWrapper {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 229, 229, 0.5);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.25s ease 0s;
  z-index: 4;
}

.showDelete {
  opacity: 1;
}

.deleteIcon {
  width: 24px;
  height: 26px;
  color: var(--on-primary-container);
  position: relative;
}

.newImageWrapper {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid var(--primary);
  position: relative;
}

.newImageIconWrapper {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--primary);
}

.newImageIcon {
  width: 20px;
  height: 20px;
  color: var(--primary);
  position: relative;
}

.imageUpload {
  opacity: 0;
  height: 200px;
  width: 200px;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 0;
}

.newImageText {
  font-size: var(--desktop-body-md);
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  padding-top: 20px;
}
