.overlay {
  position: fixed;
  inset: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(229, 229, 229, 0.5);
  z-index: 9999;
  transition: all 0.5s;
  transition: background-color 250ms ease 0s;
}

[data-focus-on-hidden] {
  pointer-events: none !important;
}

.modalBase {
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.modalBaseBackdrop {
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.modal {
  display: flex;
  overflow-y: auto;
  /* max-height: 463px; */
  max-height: 763px;
  width: 500px;
  transition: all 0.5s;
}

.contentContainer {
  display: flex;
  width: 100%;
  margin: 20px;
  background-color: var(--surface);
}

.contentContnr > * {
  max-height: 100%;
}

/* Optional: Add media query for larger screens */
@media (min-width: 768px) {
  .modal {
    /* width: 80%; 
    max-width: 600px;  */
  }
}

@media (max-width: 480px) {
  .modal {
    /* width: 95%; 
    max-width: 300px;  */
  }
}
