.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5px);
  z-index: 1000;
  transition: all 0.5s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--surface);
  /* border-radius: 9px; */
  box-shadow: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);
  padding: 2rem 2rem;
  overflow-y: auto;
  max-height: 85%;
  width: 90%;
  max-width: 500px;
  transition: all 0.5s;
}

.contentContainer {
  display: block;
  position: relative;
}

.closeContainer {
  position: absolute;
  top: -15px;
  right: -20px;
  color: var(--on-primary-container);
  margin: 0px;
  padding: 0px;
}

.close {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

/* Optional: Add media query for larger screens */
@media (min-width: 768px) {
  .modal {
    /* width: 80%; 
    max-width: 600px;  */
  }
}

@media (max-width: 480px) {
  .modal {
    /* width: 95%; 
    max-width: 300px;  */
  }
}
