.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  background-color: var(--surface);
}

.contents {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  flex: 1 1 0%;
  overflow: auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: flex-start;
}

.buttons {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 40px;
}

.loginOption {
  font-size: var(--desktop-body-md);
  line-height: 20px;
  text-align: center;
  color: var(--primary-variant);
  width: 100%;
  margin-top: 10px;
}

.loginOption .optionButton {
  padding-left: 1px;
}

.optionButton {
  appearance: none;
  padding: 0px;
  border: 0px;
  margin: 0px;
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: underline;
  cursor: pointer;
}
