.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  background-color: var(--surface);
}

.contents {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  flex: 1 1 0%;
  overflow: auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: flex-start;
}

.buttons {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 40px;
}

.loginOption {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.loginOption > span {
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}
