.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  background-color: var(--surface);
}

.contents {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  flex: 1 1 0%;
  overflow: auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: flex-start;
}
