.header {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.headerInner {
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
}

.introContainer {
  margin: 25px;
}

.logoContainer {
  color: var(--on-primary-container);
  margin: 0px;
  padding: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.logoInner {
  width: 25px;
  height: 25px;
  position: relative;
}

.logoText {
  font-size: var(--desktop-headline-xsm);
  line-height: 26px;
  font-weight: 600;
  margin-left: 10px;
}

.introText {
  font-size: var(--desktop-headline-xsm);
  line-height: 26px;
  letter-spacing: -0.01em;
  color: var(--on-primary-container);
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  padding-top: 20px;
}

.closeBtn {
  appearance: none;
  border: 0px;
  margin: 0px 0px 0px auto;
  background-color: transparent;
  color: var(--on-primary-container);
  font: inherit;
  text-align: inherit;
  padding: 20px;
  cursor: pointer;
}

.close {
  display: block;
  width: 25px;
  height: 25px;
  position: relative;
  color: currentColor;
}
