.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  background-color: var(--surface);
}

.contents {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  flex: 1 1 0%;
  overflow: auto;
}

.formSectionHeader {
  font-size: var(--desktop-body-lg);
  line-height: 24px;
  color: var(--on-primary-container);
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 5px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: var(--outline-variant);
}
