.cardContainer {
  scroll-snap-align: none;
  white-space: normal;
  padding-right: 20px;
}

.gridCard {
  grid-column: span 3;
  padding-right: 0px;
}

.smallGrid {
  grid-column: span 2;
  padding-right: 0px;
}

.link {
  text-decoration: none;
  color: inherit;
  z-index: 3;
  user-select: none;
}

.card {
  display: flex;
  flex-direction: column;
}

.image {
  width: 300px;
  height: 250px;
  /* aspect-ratio: 4 / 3; */
  background-color: var(--image-background);
}
.gridImage {
  width: 100%;
}

.imageBig {
  width: 600px;
  height: 450px;
  background-color: var(--image-background);
}

.img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.artistDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.follow {
  display: block;
  margin-left: 5px;
}

.artistInfo {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: var(--desktop-body-lg);
  line-height: 24px;
  color: var(--on-primary-container);
}

.smallName {
  font-size: var(--desktop-body-md);
  line-height: 20px;
  color: var(--on-primary-container);
}

.meta {
  font-size: var(--desktop-body-md);
  line-height: 20px;
  color: var(--primary-variant);
}

.smallMeta {
  font-size: var(--desktop-body-sm);
  line-height: 16px;
  color: var(--primary-variant);
}

@media screen and (max-width: 843px) {
  .gridCard {
    grid-column: span 6;
  }

  /* .image {
    height: 200px;
  } */
}

/* @media screen and (min-width: 1024px) {
  .image {
    height: 250px;
  }
} */
