.imageContainer {
  position: relative;
  width: 100%;
  background-color: var(--image-background);
}

.imageLink {
  display: block;
  width: 100%;
  height: 100%;
  inset: 0px;
  position: absolute;
  cursor: pointer;
  color: inherit;
  transition: color 0.25s ease 0s;
  text-decoration: underline;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.imageCompact {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--image-background);
}

.image {
  width: 100%;
  height: 100%;
  transition: opacity 0.25s ease 0s;
}

.posterContent {
  display: block;
  text-decoration: none;
  color: inherit;
  text-align: left;
  margin-top: 10px;
}

.posterTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-family: var(--secondary-font);
  font-size: var(--desktop-headline-xsm);
  line-height: 26px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

.like {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  z-index: 2;
  color: inherit;
}

.liked svg {
  fill: var(--secondary);
}
.liked svg path {
  stroke: var(--secondary);
}

.posterName {
  font-size: var(--desktop-body-lg);
  line-height: 24px;
  text-transform: capitalize;
  font-style: italic;
}
.posterName span {
  font-style: normal;
}

.posterMedium {
  font-size: var(--desktop-body-md);
  line-height: 20px;
  color: var(--primary-variant);
}

.posterPrice {
  font-size: var(--desktop-body-lg);
  font-weight: 600;
}
