.primary {
  display: inline-block;
  font-size: var(--desktop-body-lg);
  font-weight: 500;
  line-height: 24px;
  padding: 11px 24px;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--on-primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms ease 0s, color 250ms ease 0s;
  z-index: 5;
}

.primary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.secondary {
  display: inline-block;
  font-size: var(--desktop-body-lg);
  font-weight: 500;
  line-height: 24px;
  padding: 11px 24px;
  text-decoration: none;
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms ease 0s, color 250ms ease 0s;
  z-index: 5;
}

.secondary:hover {
  color: var(--secondary);
  border-color: var(--secondary);
  text-decoration: underline;
}

.tertiary {
  display: inline-block;
  font-size: var(--desktop-body-lg);
  font-weight: 500;
  line-height: 24px;
  padding: 11px 24px;
  text-decoration: none;
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms ease 0s, color 250ms ease 0s;
  z-index: 5;
}

.tertiary:hover {
  background-color: var(--primary);
  color: var(--on-primary);
  border-color: var(--primary);
}

.small {
  font-size: var(--desktop-body-md);
  font-weight: 400;
  line-height: 20px;
  padding: 6px 16px;
}

.smallest {
  font-size: var(--desktop-body-sm);
  line-height: 16px;
  padding: 4px 12px;
}

.disablePrimary {
  background-color: var(--outline);
  border-color: var(--outline);
  cursor: default;
}

.disableSecondary {
  /* background-color: var(--outline-variant); */
  color: var(--outline);
  border-color: var(--outline);
  cursor: default;
}

.disablePrimary:hover {
  background-color: var(--outline);
  border-color: var(--outline);
  cursor: not-allowed;
}

.disableSecondary:hover {
  color: var(--outline);
  border-color: var(--outline);
  text-decoration: none;
  cursor: not-allowed;
}
