.container {
  display: block;
  padding: 0px;
  margin: 0px 100px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0px 20px;
  margin-top: 40px;
}

.gridColumn {
  grid-column: span 6;
}

.heading {
  font-family: var(--primary-font);
  font-size: var(--desktop-headline-md);
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: var(--on-primary-container);
  margin-bottom: 20px;
  /* white-space: nowrap; */
  margin-right: 50px;
}

.subheadingContainer {
  font-size: var(--desktop-body-lg);
  line-height: 24px;
  color: var(--on-primary-container);
}
