.container {
  width: 100%;
}

.wrapper {
  position: relative;
  margin-top: 0px;
}

.searchInput {
  width: 100%;
  padding: 0px 10px;
  appearance: none;
  line-height: 1;
  border: 1px solid var(--outline);
  border-radius: 3px;
  transition: border-color 0.25s ease 0s, color 0.25s ease 0s;
  height: 50px;
  background-color: transparent;
  font-size: var(--desktop-body-lg);
  color: var(--primary-variant);
}

.searchInput:hover {
  color: var(--primary);
  border-color: var(--on-primary-container);
}

.searchInput:focus {
  outline: none;
  color: var(--primary);
  border-color: var(--secondary);
}

.searchInput:hover::placeholder {
  color: var(--primary);
}

.inputLabel {
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  top: 0px;
  bottom: 0px;
  right: 10px;
}

.labelButton {
  appearance: none;
  padding: 0px;
  border: 0px;
  margin: 0px;
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-align: inherit;
  height: 100%;
  cursor: pointer;
}

.label {
  width: 18px;
  height: 18px;
  position: relative;
}
