.posterContainer {
  grid-column: span 2;
}
.poster {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.25s ease 0s;
  position: relative;
  z-index: 1;
}

.posterWrapper {
  margin: 0px;
  padding: 0px;
}

.posterImage {
  width: 100%;
  overflow: hidden;
  border: none;
  background-color: var(--primary-container);
}

.image {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.posterContent {
  padding-top: 10px;
  width: 100%;
}

.posterTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-family: var(--secondary-font);
  font-size: var(--desktop-headline-xsm);
  line-height: 26px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: var(--on-primary-container);
}

.posterName {
  font-size: var(--desktop-body-lg);
  line-height: 24px;
  text-transform: capitalize;
  font-style: italic;
}
.posterName span {
  font-style: normal;
}

.posterMedium {
  font-size: var(--desktop-body-md);
  color: var(--primary-variant);
}

.posterPrice {
  font-size: var(--desktop-body-lg);
  font-weight: 600;
}
