.header {
  display: block;
  width: 100%;
  height: 80px;
  background-color: var(--surface);
  z-index: 10;
  border-bottom: 1px solid var(--outline-variant);
}

/* .sticky {
  position: sticky;
  top: 0;
  /* transform: translateY(1px);
  transition: all 250ms ease 0s;
} */

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-items: stretch;
  margin: var(--margin-desktop);
  /* padding: 20px 0px; */
  height: 100%;
}

.navbar {
  grid-column: span 7;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}
.utilityNavbar {
  grid-column: span 4;
  display: flex;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
}

.mainMenu {
  display: flex;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: end;
  gap: 12px;
  height: 100%;
  position: relative;
}

.mainMenu .navlink:first-child {
  padding: 0px 10px 0px 0px;
}

.navlink {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1em;
  text-decoration: none;
  padding: 0px 10px;
  height: 100%;
  cursor: pointer;
  color: var(--on-primary-container);
  white-space: nowrap;
}

.navlink:last-child {
  padding: 0px 0px 0px 10px;
}

.navlink:hover {
  color: var(--secondary);
}

.utilityMenu {
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  list-style: none;
  gap: 12px;
}

.searchContainer {
  margin-right: 0.5rem;
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.searchField {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  transition: all 250ms;
  width: 100%;
}

.input {
  transition: color 250ms ease 0s, border 390ms ease 0s;
  padding: 8px 5px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid var(--outline);
  color: var(--primary);
  width: 100%;
  overflow: hidden;
}

.input:focus {
  outline: none;
  border-color: var(--secondary);
}

.input:hover {
  color: var(--primary);
  border-color: var(--primary-variant);
}

.input:focus-visible {
  outline: var(--secondary) solid 1px;
}

.searchIcon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  transition: transform 250ms ease;
}

.searchIcon:hover {
  transform: rotate3d(1, 2, 3, 10deg);
}

.searchIcon svg[data-type="search-icon"] {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.cartContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.cartLink {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  cursor: pointer;
  color: var(--primary);
  white-space: nowrap;
}

.cartCounter {
  position: absolute;
  bottom: 15px;
  right: 35%;
  color: red;
  font-family: var(--primary-font);
  font-size: var(--desktop-body-md);
}
