.megaMenu {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  transform: translate(0px, -2px);
  overflow: hidden;
}

.showMega {
  visibility: visible;
}

.dropdown {
  opacity: 0;
  background-color: var(--surface-container);
  border: 1px solid var(--outline-variant);
  box-shadow: var(--umbra);
  transform: translateY(-10px);
  transition: opacity 250ms ease-out 0s, transform 250ms ease-out 0s;
}

.showDropdown {
  opacity: 1;
  transform: translateY(0px);
  /* transition: opacity 250ms ease-out 0s, transform 250ms ease-out 0s; */
}

.dropdownOuter {
  max-height: 100vh;
  overflow-y: auto;
}

.dropdownInner {
  width: 100vw;
}

.menuContainer {
  width: 100%;
  max-width: 1920px;
  /* background-color: aquamarine; */
}

.menuInner {
  display: flex;
  flex-direction: column;
  margin: var(--margin-desktop);
  padding: 60px 0px;
}

.menuWrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px 0px;
}

.menu {
  grid-column: span 3;
}

.menuFooter {
  margin-top: 40px;
}
