.megaMenuContainer {
  position: relative;
  z-index: 1;
  width: 100%;
}

.megaMenu {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: block;
  transform: translate(0px, -2px);
  overflow: hidden;
}

.showMega {
  visibility: visible;
}

.dropdown {
  opacity: 0;
  background-color: var(--surface);
  border: 1px solid var(--outline-variant);
  box-shadow: var(--umbra);
  transform: translateY(-10px);
  transition: opacity 250ms ease-out 0s, transform 250ms ease-out 0s;
}

.showDropdown {
  opacity: 1;
  transform: translateY(0px);
  /* transition: opacity 250ms ease-out 0s, transform 250ms ease-out 0s; */
}

.dropdownOuter {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdownInner {
  width: 100%;
}

.menuContainer {
  width: 100vw;
  /* max-width: 1920px; */
}

.menuInner {
  margin: var(--margin-desktop);
}
