.dropdownContainer {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: left;
  outline: none;
  padding-top: 0px;
  z-index: 200;
}

.dropdownWrapper {
  opacity: 0;
  transform: translateY(-10px);
  background-color: var(--surface);
  border: 1px solid var(--outline-variant);
  box-shadow: var(--dropdown);
  pointer-events: none;
  transition: opacity 250ms ease 0s, transform 250ms ease 0s;
}

.dropdownWrapper > div {
  max-height: 100%;
  overflow-y: auto;
}

.dropdownWrapper.show {
  opacity: 1;
  transform: translate(0px);
  pointer-events: auto;
}

.focusGuard {
  width: 1px;
  height: 0px;
  padding: 0px;
  overflow: hidden;
  position: fixed;
  top: 1px;
  left: 1px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  max-height: 230px;
  width: 300px;
}

.dropdownInner {
  padding: 20px;
  flex: 1 1 0%;
  min-height: 0px;
  overflow-y: scroll;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
  flex-shrink: 0;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  z-index: 1;
}
