.filter {
  position: relative;
  min-width: 0px;
}

.wrapper {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.innerContainer {
  display: inline-flex;
  vertical-align: top;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
}
.contents {
  display: flex;
  gap: 10px;
}
