.priceContainer {
  display: block;
}

.priceSpacer {
  margin-top: 40px;
}

.rangeTrack {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  height: 24px;
}

.rangeTrack::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  left: 0px;
  right: 0px;
  top: 50%;
  margin-top: -1px;
  background-color: var(--outline);
}

.range {
  position: absolute;
  height: 2px;
  left: 0px;
  right: 0px;
  top: 50%;
  margin-top: -1px;
  background-color: var(--secondary);
}

.rangeSlider {
  appearance: none;
  background: transparent;
  margin: 0px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: var(--surface);
  border: 1px solid var(--outline-variant);
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.rangeSlider::-webkit-slider-thumb:hover {
  cursor: grab;
}
